body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.logo {
    font-size: 2rem;
    color: rgb(8, 124, 8);

    span {
        color: rgb(35, 185, 21);
    }
}

.logoimg {
    width: 3rem;
    height: 3rem;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(221, 220, 218);
    height: 100vh;
    width: 100%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        margin-top: 8em;

        a {
            margin-top: 3rem;
            color: rgb(0, 0, 0);
            display: block;
            width: 100%;

            &:hover {
                background: rgb(229, 226, 226);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }

}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2.5em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

h1 {
    font-size: 4rem;
    margin-top: 1em;
    line-height: 3.3rem;
    color: black;
}

.info {
    img {
        width: 100%;
        object-fit: cover;
        height: 10em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }
    
    .desc {
        line-height: 1.25rem;
    }
}

.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width: 620px) {
    body {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }
}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: rgb(0, 0, 0);
                padding: 0.5em 1.5em;
                font-size: 1.2rem;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .logo {
        font-size: 3rem;
    }

    .logoimg {
        width: 5rem;
        height: 5rem;
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em;
        margin-top: 4em;
        margin-bottom: 4em;

        img {
            width: 30em;
            height: 15em;
        }

        .content {
            text-align: left;
            width: 45em;
        }
    }
}

footer {
    border-top: 1px solid #C1CDD7;

    .Footer-ListWrapper{
        display: flex;
        margin: 0;
    
        .footer {
            margin-top: 2.5em;
            margin-left: 8em;
    
            a {
                font-size: 1.2rem;
                padding: 0.5em 1.5em;
                color: black;
                width: 100%;
                text-align: center;
                
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }
}

